/* Universal Selector Reset */

* {
    box-sizing: border-box;
    border: 1px solid red;
    font: inherit;
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-size: 100%;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */


/* Nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 3% auto;
}

nav a {
    color: grey;
    text-decoration: none;
}

.divLogo {
    display: flex;
}


/* top */

.start {
    border: 10px dashed magenta;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
}

#innovation {
    margin-top: 3%;
}

#innovation h1 {
    font-size: 80px;
}

.top #innovation {
    text-align: center;
}

.top #innovation a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 0 auto;
    border: 1px solid black;
    font-weight: normal;
}


/* Features and About */

.twoCont {
    width: 100%
}

.twoCont div {
    text-align: center;
    display: flex;
    width: 49%;
    margin: 5% auto;
}


/* Code Picture */

.middle-img {
    width: 100%;
}


/*Services, Product, Vision */

.threeCont {
    width: 100%;
    padding-left: 10%;
    margin: 5% 0;
}

.threeCont div {
    text-align: center;
    display: flex;
    width: 30%;
    margin: auto;
}


/* Footer */

footer {
    margin-top: 10%;
}

h6 {
    text-align: center;
}